@tailwind base;
@tailwind components;
@tailwind utilities;

@import "custom-material";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-700;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  @apply text-xl;
}

h2 {
  @apply text-lg;
}

h3 {
  @apply text-base font-medium;
}

.clickable {
  @apply cursor-pointer hover:bg-slate-50;
}
